.page {
    min-height: 100svh;
    font-family: var(--font-geist-sans);
    font-size: 12px;
    height: 100vh;
    padding: 16px;
}

.main {
    width: 100%;
    max-width: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.errorContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.errorBox {
    padding: 2rem;
    border: 1px solid #ccc;
    border-radius: 8px;
    text-align: center;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.loadingContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.loadingSpinner {
    border: 4px solid #ccc;
    border-top: 4px solid #1B2536;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}