.page {
    min-height: 100svh;
    font-family: var(--font-geist-sans);
    font-size: 12px;
}

.main {
    flex: 1;
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .page {
        padding: 32px;
        padding-bottom: 80px;
    }
}